.bg-layer {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1; 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    object-fit: cover; 
    object-position: center; 
    transition: opacity 500ms ease-in-out; /*can increase this, match buffer in js*/
}


