/* RESET */
@import "normalize.css";


/*fonts*/

@font-face {
  font-family: myFont; /* set name */
  src: url(img/cambria.ttc); /* url of the font */
}



/*background stuff*/
.bg-layer {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: -1; 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    object-fit: cover; 
    object-position: center; 
    transition: opacity 500ms ease-in-out; /*can increase this, match buffer in js*/
}



/*content*/
html {
     background: #1A2E22 no-repeat;
     font-family: myFont; /* use font */
     font-size: 20px;
     font-weight: 100;
     color: #FFFBF0;
}

.placeholder {
    background: #3B5E47;
    padding: 20px;
    margin: 5px;
}



.title {
    position: relative;
    margin-top: 0px;
    top: 0px;
    width: 520px;
    display: inline-block;
    padding: 20px;
    margin: 5px;
}

.title img {
    image-rendering: pixelated;
    width: 100%
}

.controls {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
}

.controls #stopInput {
    display: inline-block;
    width: 100px;
}




.page {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-left: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    max-width: 900px;  
    width: 100%;       
    flex-grow: 1; 
}

nav {
    height: 400px;
    width: 100px;
    flex-shrink: 0;
}


.container div {
    align-self: start; 
    box-sizing: border-box;
}